#ignore the /old_code directory
/old_code

#ignore everything in the /eagle directory
/eagle/*
#except .sch and .brd files
!/eagle/*.sch
!/eagle/*.brd

#ignore everything in the /docs directory
/docs/*
#schematic.pdf
!/docs/schematic.pdf

#ignore the macros file unless it contains something useful
src/droplay_macros.h.6502
